@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Salsa', cursive;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

body {
    background-attachment: fixed;
    background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 75px;
    padding: 10px;
}

div {
    display: grid;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    text-align: center;
    font-size: 18px;
}

@media (min-width: 1280px) {
    div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 530px) {
    h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    h2 {
        font-size: 20px;
    }

    li {
        font-size: 12px;
    }

    div {
        margin-bottom: 60px;
    }
}