@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Salsa', cursive;
    color: white;
    transition: all 0.3s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

body {
    background-attachment: fixed;
    background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

hr {
    width: 50%;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 75px;
    padding: 10px;
}

section {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

section:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

h2 {
    text-align: center;
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    text-align: center;
    font-size: 18px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ff5733;
}

@media (min-width: 1280px) {
    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 530px) {
    h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
    }

    li {
        font-size: 14px;
    }

    section {
        margin-bottom: 30px;
    }
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-top: 20px;
}